---
---

<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" >
	<title>{{ site.data.portfolio.title }}</title>

	<link rel="stylesheet" type="text/css" href="assets/css/main.css">
	<link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
</head>
<body>

{% include header.html %}

{% include about.html %}

{% include work.html %}

{% include clients.html %}

{% include contact.html %}

{% include form.html %}

{% include footer.html %}
<script src="assets/js/jquery-3.0.0.min.js"></script>
<script src="assets/js/functions.js"></script>
</body>
</html>
